h1 {
    color: aqua;
}

p {
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
}

div {
    background-color: lightgray;
}

img {
    width: 500px;
    height: auto;
    position: relative;
    top: 33px;
}